@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap');

*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}

body{
    font-family: 'dosis',sans-serif;
}

.upper-align {
    vertical-align: super;
}

.position-bottom-left{
    position: absolute;
    bottom: 1em;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.head{
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 0 5px black;    
}
    .head h1{
        padding: 1vh 20px;
        font-weight: 100;
    }
    .head .nav {
        min-width: 500px;
        min-height: 40px;
        padding-left: 1em;
    }
        .head .nav .navbar{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            height:100%;

        }
            .head .nav .navbar li{
                height: 100%;
                padding: 0 1.5em;
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                text-transform: uppercase;
            }
            .head .nav .navbar li i{
                font-size: 1.4rem;
                margin: 0px .4rem;
            }
            .head .nav .navbar li:hover{
                background-color: grey;
                cursor: pointer;
            }
    

.main-display{
    color: aliceblue;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /*Background*/
    background: url(../media/gif/Icosa_Unravel.gif) fixed center;
    background-color: rgb(121, 121, 121);
    background-size: contain;
    background-blend-mode: multiply;
    transition: all 2s, background-color 0ms,min-height 0ms;
    padding: 1em;
}
    .main-display:hover{
         background: linear-gradient(to right,rgba(0, 0, 255, 0.7),rgba(255, 0, 0, 0.7)) fixed center , url(../media/gif/Icosa_Unravel.gif) fixed right;
         background-size: cover;
         background-size: 25%;
         background-blend-mode: multiply;
         transition: all 2s;
    }

    .main-display h2{
        font-size: 4rem;
        margin: 2rem 0;
    }

    .main-display button{
        padding: .7em;
        background-color: rgba(86, 86, 86, 0.809);
        border: none;
        margin: 1.1em 0;
        font-size: larger;
        border-radius: .4vw;
        width: 400px;
    }

        .subtitle{
            color: rgb(164, 164, 164);
            font-size: 1.5rem;
        }

    .main-display button:hover{
        background-color:  rgba(86, 62, 225, 0.913);
        transition: background-color .2s;
        cursor: pointer;
    }

            .social .icons{
                display: flex;
                gap: 4px;
                
                list-style-type: none;
            }
            
            .social .icons li{
                font-size: 1.5rem;
            }
            .social .icons li{
                color: gray;
            }

            .social .icons li:hover i{
                font-size: 1.5rem;
                color: aliceblue;
                opacity: 1;
                position: relative;
                bottom: .2em;
                transition: all .2s;
            }

 .about{
    padding: 5em 0;
 }

    .about h2{
        font-size: 2.4rem;
    }

    .about p , .about h2 , .about h3{
        text-align: center;
    }

        .cards{
            padding: 8vh 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
        }

            .card{
                margin: 0px 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            .card h3{
                font-size: 1.3rem;
            }

            .card i{
                font-size: 4em;
                margin: 20px;
            }

.window {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    min-height: 45vh;

    /*Add it to media queries later*/
    padding-right: 4em;
    position: relative;
}

    .window::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        /* Overlay Styling */
        background-image: url("../media//img/19742.jpg");
        background-size: 40%;
        opacity: .2;
        background-blend-mode: multiply;
        z-index: 10;
    }
    
    .window > *{
        z-index: 20;
    }

    .window img{
        width: auto;
        height: auto;
        max-height: 400px;
        padding: 2em 1.5em;
        border-radius: 50px;

    }

    .window .text-part{
        flex-direction: column;
        align-items: flex-end;
    }

        .window h2{
            font-size: 2rem;
        }

        .window .text-part p{
            max-width: 50ch;
            text-align: right;
        }

        .window .text-part button{
            padding: 1em;
            margin: 2em 0;
            background-color: black;
            color: aliceblue;
        }

        .window .text-part button:hover{
            cursor: pointer;
            background-color: grey;
            color: white;
        }

.team{
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10vh 0;
}

    .people-cards{
        height: 100%;
        padding: 2em 20px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 4em;
    }

        .people-card{
            border: 1px solid grey;
            display: flex;
            justify-content:space-between;
            flex-direction: column;
            box-shadow:  0px 0px 10px rgba(56, 56, 56, 0.609);
            min-height: 550px;
            height: 550px;
        }

        .people-card img{
            width : 100%;
        }
            .people-card button{
                padding: 15px;
                width: 100%;
                border: none;
                background-color: lightgray;
                font-size: 1.2rem;
            }

            .people-card button:hover{
                cursor: pointer;
                background-color: rgb(134, 48, 48);
                color: white;
                transition: background-color .5s;
            }

            .people-card .title h3{
                font-size: 1.4rem;
                font-weight: 500;
            }

            .people-card .title .job-title{
                color: rgb(136, 136, 136);
                
            }
            
            .title + p{
                margin: 20px;
            }

.stats{
    color: white;
    background-color: grey;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh;
    min-height: 30vh;
}
    .stats h2{
        text-align: center;
    }

.our-work{
    text-align: center;
    padding: 2em 0;
    width: 100%;
    min-height: 80%;
}
    .our-work .img-showcase{
        display: grid;
        gap:1em;
        padding: 1em;
        margin: 0 5em;
        grid-template-columns: repeat(4, 1fr);
    }

    .our-work .img-showcase img{
        object-fit: cover;
        width: 100%;
        max-height: 100%
    }
    
    .our-work .img-showcase img:hover{
       opacity: .5;
       transition: opacity .2s;
    }